In [1]:
import pandas as pd
from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, median_absolute_error,  r2_score, mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.cluster import KMeans


diabetes = load_diabetes()

Question 1  (25 Points): First, access the dataset 'load_diabetes()' as follows

from sklearn.datasets import load_diabetes
diabetes = load_diabetes()

See here Links to an external site.for the dataset description
Your tasks include:

Prepare training and testing sets with an 80-20 split ratio. This helps in machine learning, with 80% of the data used for training and 20% for testing.

Conduct regression using the Random Forest ensemble technique.

You are required to set n_estimators=(the last two digits of your student ID multiplied by 10). If the last two digits are 00, use 10 as the n_estimators

For example, if the last two digits of the student ID are 34, then n_estimators=340
Compute the R-squared value to evaluate your model and at least two other metrics for the Random Forest regression model.

Conduct regression using the XGBoost ensemble technique. Use the same n_estimators value as used in Question 1.2.

Compute the R-squared value to evaluate your model and at least two other metrics for the XGBoost regression model.

In [2]:
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target

In [3]:
df.describe().round(2)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
count,442.00,442.00,442.00,442.00,442.00,442.00,442.00,442.00,442.00,442.00,442.00
mean,-0.00,0.00,-0.00,-0.00,-0.00,0.00,-0.00,-0.00,0.00,0.00,152.13
std,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,77.09
min,-0.11,-0.04,-0.09,-0.11,-0.13,-0.12,-0.10,-0.08,-0.13,-0.14,25.00
25%,-0.04,-0.04,-0.03,-0.04,-0.03,-0.03,-0.04,-0.04,-0.03,-0.03,87.00
50%,0.01,-0.04,-0.01,-0.01,-0.00,-0.00,-0.01,-0.00,-0.00,-0.00,140.50
75%,0.04,0.05,0.03,0.04,0.03,0.03,0.03,0.03,0.03,0.03,211.50
max,0.11,0.05,0.17,0.13,0.15,0.20,0.18,0.19,0.13,0.14,346.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
 10  target  442 non-null    float64
dtypes: float64(11)
memory usage: 38.1 KB

In [5]:
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

In [6]:
train_df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
17,0.070769,0.050680,0.012117,0.056301,0.034206,0.049416,-0.039719,0.034309,0.027364,-0.001078,144.0
66,-0.009147,0.050680,-0.018062,-0.033213,-0.020832,0.012152,-0.072854,0.071210,0.000272,0.019633,150.0
137,0.005383,-0.044642,0.049840,0.097615,-0.015328,-0.016345,-0.006584,-0.002592,0.017036,-0.013504,280.0
245,-0.027310,-0.044642,-0.035307,-0.029770,-0.056607,-0.058620,0.030232,-0.039493,-0.049872,-0.129483,125.0
31,-0.023677,-0.044642,-0.065486,-0.081413,-0.038720,-0.053610,0.059685,-0.076395,-0.037129,-0.042499,59.0
...,...,...,...,...,...,...,...,...,...,...,...
106,-0.096328,-0.044642,-0.076264,-0.043542,-0.045599,-0.034821,0.008142,-0.039493,-0.059471,-0.083920,134.0
270,0.005383,0.050680,0.030440,0.083844,-0.037344,-0.047347,0.015505,-0.039493,0.008641,0.015491,202.0
348,0.030811,-0.044642,-0.020218,-0.005670,-0.004321,-0.029497,0.078093,-0.039493,-0.010903,-0.001078,148.0
435,-0.012780,-0.044642,-0.023451,-0.040099,-0.016704,0.004636,-0.017629,-0.002592,-0.038460,-0.038357,64.0
102,-0.092695,-0.044642,0.028284,-0.015999,0.036958,0.024991,0.056003,-0.039493,-0.005142,-0.001078,302.0

In [7]:
test_df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
287,0.045341,-0.044642,-0.006206,-0.015999,0.125019,0.125198,0.019187,0.034309,0.032432,-0.005220,219.0
211,0.092564,-0.044642,0.036907,0.021872,-0.024960,-0.016658,0.000779,-0.039493,-0.022517,-0.021788,70.0
72,0.063504,0.050680,-0.004050,-0.012556,0.103003,0.048790,0.056003,-0.002592,0.084492,-0.017646,202.0
321,0.096197,-0.044642,0.051996,0.079265,0.054845,0.036577,-0.076536,0.141322,0.098648,0.061054,230.0
73,0.012648,0.050680,-0.020218,-0.002228,0.038334,0.053174,-0.006584,0.034309,-0.005142,-0.009362,111.0
...,...,...,...,...,...,...,...,...,...,...,...
255,0.001751,-0.044642,-0.065486,-0.005670,-0.007073,-0.019476,0.041277,-0.039493,-0.003301,0.007207,153.0
90,0.012648,-0.044642,-0.025607,-0.040099,-0.030464,-0.045155,0.078093,-0.076395,-0.072133,0.011349,98.0
57,-0.027310,-0.044642,-0.063330,-0.050427,-0.089630,-0.104340,0.052322,-0.076395,-0.056153,-0.067351,37.0
391,-0.023677,-0.044642,-0.069797,-0.064199,-0.059359,-0.050478,0.019187,-0.039493,-0.089133,-0.050783,63.0
24,-0.063635,-0.044642,0.035829,-0.022885,-0.030464,-0.018850,-0.006584,-0.002592,-0.025953,-0.054925,184.0

In [8]:
# Replace 'XX' with the last two digits of your student ID
last_two_digits = 47
X_train = train_df.drop('target', axis=1)
y_train = train_df['target']
X_test = test_df.drop('target', axis=1)
y_test = test_df['target']


n_estimators = last_two_digits * 10 if last_two_digits != 0 else 10
eg_rf = RandomForestRegressor(n_estimators=n_estimators, random_state=42)
eg_rf.fit(X_train, y_train)

# Predict on test set
y_pred = eg_rf.predict(X_test)

# Evaluate performance
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Random Forest MSE: {mse:.2f}")
print(f"Random Forest R^2: {r2:.2f}")
\
# Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: {mae:.2f}")

# Median Absolute Error
medae = median_absolute_error(y_test, y_pred)
print(f"Median Absolute Error: {medae:.2f}")

Random Forest MSE: 2987.01
Random Forest R^2: 0.44
Mean Absolute Error: 44.36
Median Absolute Error: 39.37

In [9]:
# Train XGBoost regressor with the same n_estimators
eg_xgb_reg = XGBRegressor(n_estimators=n_estimators, random_state=42)
eg_xgb_reg.fit(X_train, y_train)

# Predict on test set
y_pred_xgb = eg_xgb_reg.predict(X_test)

# Evaluate performance

mse_xgb = mean_squared_error(y_test, y_pred_xgb)
r2_xgb = r2_score(y_test, y_pred_xgb)

print(f"XGBoost MSE: {mse_xgb:.2f}")
print(f"XGBoost R^2: {r2_xgb:.2f}")
# Mean Absolute Error (MAE)
mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
print(f"XGBoost Mean Absolute Error: {mae_xgb:.2f}")

# Median Absolute Error
medae_xgb = median_absolute_error(y_test, y_pred_xgb)
print(f"XGBoost Median Absolute Error: {medae_xgb:.2f}")

XGBoost MSE: 3350.82
XGBoost R^2: 0.37
XGBoost Mean Absolute Error: 46.39
XGBoost Median Absolute Error: 42.95

Question 2  (15 Points): Using the same diabetes dataset in the question 1:

Perform modeling using linear or logistic regression on the split dataset. You have to decide which one is most appropriate for the dataset. Provide comments to explain your selection.
Calculate the performance of the selected model to measure its performance by showing three different evaluation metrics' results based on your selected model.

In [10]:
# Linear regression is appropriate since the target is continuous (regression problem)
eg_lin_reg = LinearRegression()
eg_lin_reg.fit(X_train, y_train)

# Predict on test set
y_pred_lin = eg_lin_reg.predict(X_test)

# Evaluate performance
mse_lin = mean_squared_error(y_test, y_pred_lin)
r2_lin = r2_score(y_test, y_pred_lin)
mae_lin = mean_absolute_error(y_test, y_pred_lin)
medae_lin = median_absolute_error(y_test, y_pred_lin)

print(f"Linear Regression MSE: {mse_lin:.2f}")
print(f"Linear Regression R^2: {r2_lin:.2f}")
print(f"Linear Regression Mean Absolute Error: {mae_lin:.2f}")

Linear Regression MSE: 2900.19
Linear Regression R^2: 0.45
Linear Regression Mean Absolute Error: 42.79

Question 3  (20 Points): Using the same diabetes dataset in the question 1:

Construct a fully connected neural network with four hidden layers as follows. 
Note: You can use either Scikit-learn or TensorFlow to answer this question.
1st layer: 128 neurons
2nd layer: 64 neurons
3rd layer: 32 neurons
4th layer: 16 neurons
Perform the modeling
Evaluate your neural network model.

In [11]:
# Construct the neural network with specified hidden layers
eg_mlp = MLPRegressor(hidden_layer_sizes=(128, 64, 32, 16), max_iter=1000, random_state=42)
eg_mlp.fit(X_train, y_train)

# Predict on test set
y_pred_mlp = eg_mlp.predict(X_test)

# Evaluate performance
mse_mlp = mean_squared_error(y_test, y_pred_mlp)
r2_mlp = r2_score(y_test, y_pred_mlp)
mae_mlp = mean_absolute_error(y_test, y_pred_mlp)
medae_mlp = median_absolute_error(y_test, y_pred_mlp)

print(f"MLPRegressor MSE: {mse_mlp:.2f}")
print(f"MLPRegressor R^2: {r2_mlp:.2f}")
print(f"MLPRegressor Mean Absolute Error: {mae_mlp:.2f}")

MLPRegressor MSE: 2688.21
MLPRegressor R^2: 0.49
MLPRegressor Mean Absolute Error: 41.45

C:\Users\emili\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

Question 4  (15 Points): Using the same diabetes dataset in the question 1:

Perform K-Means Clustering with K=2.
Display predicted cluster labels for each data point.

In [ ]:
# Perform K-Means clustering with K=2 on the features (excluding the target)
kmeans = KMeans(n_clusters=2, random_state=42, n_init=10)
eg_cluster_labels = kmeans.fit_predict(df.drop('target', axis=1))

# Display predicted cluster labels for each data point
print(eg_cluster_labels)

[1 0 1 1 0 0 0 1 1 0 0 1 0 1 0 1 1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0
 0 1 1 1 0 0 0 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 1 0 1 0 0 0 1 1 1 0 0 0 1 1 1
 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 1 0 0 1 0 0 0 1 1 1 0
 0 0 1 1 1 1 1 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 0 1 0 1 1 1 1 1 1 0 1 0 1 1
 1 1 1 0 1 1 1 1 0 1 0 1 0 1 0 1 0 0 0 1 1 1 0 0 1 0 0 0 1 1 0 1 1 0 1 1 1
 1 1 0 1 0 1 0 0 1 0 1 0 1 0 1 0 0 1 1 1 0 1 1 1 1 0 0 1 0 0 1 1 1 0 0 0 0
 0 0 0 1 0 0 0 0 1 1 1 0 1 1 1 0 1 1 1 1 0 0 0 0 0 0 1 1 1 1 1 1 1 0 1 0 1
 0 0 0 1 0 0 1 0 1 1 0 1 1 0 1 1 1 1 0 1 0 1 0 1 0 0 1 0 1 1 1 1 1 0 1 0 0
 0 0 0 0 1 1 1 1 1 1 0 1 0 1 1 1 0 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 0 0 1 0 1
 1 0 0 1 1 0 1 0 1 1 0 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 1 0 1 1 1 1 1 1 1 1
 0 1 0 0 0 1 1 1 1 0 0 0 1 0 1 0 0 0 1 0 1 0 1 0 1 0 0 0 1 1 0 0 1 1 0 1 0
 1 1 1 1 0 1 0 1 1 1 0 1 0 1 1 1 1 1 0 1 0 1 0 0 0 1 0 0 0 0 1 1 0 1 0]